<!-- md-dialog handles inputs for new appointment creation -->
<md-dialog aria-label="Book Appointment" ng-app="grouphealth" ng-controller="appointment" >
  <form ng-cloak ng-submit="save(this)" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Book Appointment</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="pull-left text-left">
          <div>
              <label>Name:</label>
            <input type="text" ng-model="name" name="name" class="pull-right" /><br />
            <span ng-show="form.name.$pending.name">Checking if name is valid...</span>
            <span ng-show="form.name.$error.name">invalid name!</span>
            <!-- {{name}} -->
          </div>
          <div>
            <label>Reason:</label>
            <select ng-model="reason" name="reason" class="pull-right"
                ng-init="reason = reasons[0]"
                ng-options="option.name for option in reasons">
            </select>
            <span ng-show="form.reason.$pending.reason">Checking if reason is valid...</span>
            <span ng-show="form.reason.$error.reason">invalid reason!</span>
            <!-- {{reason}} -->
          </div>
          <div>
            <label>Date:</label>
            <input type="date" ng-model="appointment_date" name="appointment_date" class="pull-right" /><br />
            <span ng-show="form.appointment_date.$pending.appointment_date">Checking if date is valid...</span>
            <span ng-show="form.appointment_date.$error.appointment_date">invalid date!</span>
            <!-- {{appointment_date}} -->
          </div>
          <div>
            <label>Start Time:</label>
            <input type="time" ng-model="appointment_start" name="appointment_start" class="pull-right" /><br />
            <span ng-show="form.appointment_start.$pending.appointment_start" >Checking if time is valid...</span>
            <span ng-show="form.appointment_start.$error.appointment_start">invalid time!</span>
            <!-- {{appointment_start | date: "HH:mm"}} -->
          </div>
          <div>
            <label>End Time:</label>
            <input type="time" ng-model="appointment_end" name="appointment_end" class="pull-right" /><br />
            <span ng-show="form.appointment_end.$pending.appointment_end">Checking if time is valid...</span>
            <span ng-show="form.appointment_end.$error.appointment_end">invalid time!</span>
            <!-- {{appointment_end | date: "HH:mm"}} -->
          </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">Cancel</md-button>
      <span flex></span>
      <md-button type="submit">Save</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
