<!-- md-dialog handles inputs for new appointment creation -->
<md-dialog aria-label="Book Appointment" ng-app="grouphealth" ng-controller="appointment" >
  <form  name="form" class="css-form" ng-submit="save(this)" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Book Appointment</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="pull-left text-left">
          <div>
            <label>Name:</label>
            <input type="text" ng-model="name" name="name" class="pull-right" username /><br />
            <span ng-show="form.name.$pending.username">Checking if name is valid...</span>
            <span ng-show="form.name.$error.username">first and last name required</span>
            <!-- {{name}} -->
          </div>
          <div>
            <label>Reason:</label>
            <select ng-model="reason" name="reason" class="pull-right"
                ng-init="reason = reasons[0]"
                ng-options="option.name for option in reasons">
            </select>
            <!-- no need to validate this since we only provide valid dropdown entries
                and the API will fail if an invalid-api reason is given -->
            <!-- {{reason}} -->
          </div>
          <div>
            <label>Date:</label>
            <input type="date" ng-model="appointment_date" name="appointment_date" class="pull-right" datetime /><br />
            <span ng-show="form.appointment_date.$pending.datetime">Checking if date is valid...</span>
            <span ng-show="form.appointment_date.$error.datetime">invalid date!</span>
            <!-- {{appointment_date}} -->
          </div>
          <div>
            <label>Start Time:</label>
            <input type="time" ng-model="appointment_start" name="appointment_start" class="pull-right" datetime /><br />
            <span ng-show="form.appointment_start.$pending.datetime" >Checking if time is valid...</span>
            <span ng-show="form.appointment_start.$error.datetime">invalid time!</span>
            <!-- {{appointment_start | date: "HH:mm"}} -->
          </div>
          <div>
            <label>End Time:</label>
            <input type="time" ng-model="appointment_end" name="appointment_end" class="pull-right" datetime /><br />
            <span ng-show="form.appointment_end.$pending.datetime">Checking if time is valid...</span>
            <span ng-show="form.appointment_end.$error.datetime">invalid time!</span>
            <!-- {{appointment_end | date: "HH:mm"}} -->
          </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">Cancel</md-button>
      <span flex></span>
      <md-button type="submit">Save</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
