<md-dialog aria-label="Book Appointment" ng-app="grouphealth" ng-controller="appointment" >
  <form ng-cloak ng-submit="save(this)" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Book Appointment</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="pull-left text-left">
          <div>
              <label>Name:</label>
            <input type="text" ng-model="name" name="name" class="pull-right" /><br />
            <span ng-show="form.name.$pending.name">Checking if this name is available...</span>
            <span ng-show="form.name.$error.name">This username is already taken!</span>
            <!-- {{name}} -->
          </div>
          <div>
            <label>Reason:</label>
            <select ng-model="reason" name="reason" class="pull-right"
                ng-init="reason = reasons[0]"
                ng-options="option.name for option in reasons">
            </select>
            <span ng-show="form.name.$pending.reason">Checking if reason is valid...</span>
            <span ng-show="form.name.$error.reason">This reason is invalid!</span>
            <!-- {{reason}} -->
          </div>
          <div>
            <label>Date:</label>
            <input type="date" ng-model="appointment_date" name="appointment_date" class="pull-right" /><br />
            <span ng-show="form.name.$pending.appointment_date">Checking if this date is available...</span>
            <span ng-show="form.name.$error.appointment_date">This date is fully booked!</span>
            <!-- {{appointment_date}} -->
          </div>
          <div>
            <label>Start Time:</label>
            <input type="time" name="appointment_start" class="pull-right"ng-model="appointment_start" placeholder="HH:mm:ss" min="08:00:00" max="16:30:00" required /><br />
            <span ng-show="form.name.$pending.appointment_start" >Checking if this time is available...</span>
            <span ng-show="form.name.$error.appointment_start">This time is already booked!</span>
            <!-- {{appointment_start}} -->
          </div>
          <div>
            <label>End Time:</label>
            <input type="time" name="appointment_end" class="pull-right"ng-model="appointment_end" placeholder="HH:mm:ss" min="08:30:00" max="17:00:00" required /><br />
            <span ng-show="form.name.$pending.appointment_end">Checking if this time is available...</span>
            <span ng-show="form.name.$error.appointment_end">This time is already booked!</span>
            <!-- {{appointment_end}} -->
          </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">Cancel</md-button>
      <span flex></span>
      <md-button type="submit">Save</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
