.dialogBasicUsage #popupContainer {
  position: relative;
}

.dialogBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px;
}

.dialogBasicUsage .footer, .dialogBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px;
}

.dialogBasicUsage button {
  width: 200px;
}

.dialogBasicUsage div#status {
  color: #c60008;
}

.dialogBasicUsage .dialog--prerendered md-checkbox {
  margin-bottom: 0;
}
